/bin/
*.classpath
*.class
Desktop.ini
*.jar
src/org/usfirst/frc1073/robot18/subsystems/DriveTrain.java
*.jar
src/org/usfirst/frc1073/robot18/subsystems/Drivetrain.java
*.class
*.jar
*~
dist/FRCUserProgram.jar
dist/FRCUserProgram.jar
build/jars/CTRE_Phoenix.jar
dist/FRCUserProgram.jar
